
@font-face {
    font-family: f1;
    src: url(./apercu-medium-pro.ttf);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: rgb(0, 0, 0);
font-family: Caveat Brush ,'apercu-medium-pro';
}

body,html{
height: 100%;
width: 100%;


}

.yo{
    width: 100%;
    height: 100vh;
    background-color: pink;
}




